### Temporary files template
/temp/
/tmp/

### Build outputs template
/dist/
/public/
/build/
/out/

### IDE configuration template
/.vscode/
/.settings/
/.idea/*
/.project
# add shared scopes and inspection profiles
!/.idea/scopes/
!/.idea/inspectionProfiles/
