### Temporary files template
/temp/
/tmp/

### IDE configuration template
/.vscode/
/.settings/
/.idea/*
/.project
# add shared scopes and inspection profiles
!/.idea/scopes/
!/.idea/inspectionProfiles/

### Build artifacts
/build/
/dist/

